<button type="button"class="btn-icon" (click)="openModal('custom-modal-'+order.id)">
  <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
       xmlns="http://www.w3.org/2000/svg">
    <path
      d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
    <path fill-rule="evenodd"
          d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
  </svg>
</button>
<jw-modal id="custom-modal-{{order.id}}">
  <div *ngFor="let product of listProducts">
    <hr>
    <div class="row align-content-center">
      <div class="col-4 .order ">
        <label for="name">Название товара</label>
        <input type="text" name="name" id="name" value="{{product.name}}" [(ngModel)]="product.name">
      </div>
      <div class="col-3 .order">
        <label for="brand">Бренд</label>
        <input type="text" name="brand" id="brand" value="{{product.brand}}" [(ngModel)]="product.brand">
      </div>

      <div class="col-2 .order">
        <label for="count">Количество</label>
        <input type="number" name="count" id="count" value="{{product.count}}" [(ngModel)]="product.count">
      </div>
      <div class="col-2 .order">
        <label for="price">Цена</label>
        <input type="number" name="price" id="price" value="{{product.price}}" [(ngModel)]="product.price">
      </div>
      <div class="col-1 .order">
        <button class="btn-delete" (click)="deleteProduct(product)">
          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-circle" fill="currentColor"
               xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path fill-rule="evenodd"
                  d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
            <path fill-rule="evenodd"
                  d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
          </svg>
        </button>
      </div>
    </div>
    <hr>
  </div>

  <div class="row align-content-center justify-content-center ">
    <div class="col-12">
      <div class="row align-content-center justify-content-center">
        <div class="col-3">
          <button class="btn btn-danger btn-add" (click)="addProduct()">Добавить продукт
          </button>
        </div>
      </div>

      <div class="row align-content-center justify-content-center">
        <div class="col-3">
          <button class="btn btn-danger btn-add-order" (click)="closeModal('custom-modal-'+order.id)">Изменить заказ
          </button>
        </div>
      </div>
    </div>
  </div>
</jw-modal>
