.post {
  border-bottom: 1px solid #666;
  background-color: #fff;
  margin: 5px;
}

ul {
  margin-top: 10px;
}

button {
  width: 45px;
  height: 45px;
  margin: 3px;
  font-size: 17px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
}

button:hover {
  box-shadow: none;
}

.order-price {
  text-align: center;
}

