.main {
  /*background: #ffcfd3;*/
 background: #fff;
  border-radius: 5px;
  border: 1px solid #666;
  margin-top: 2em;

}

hr {
  background: #aaa;
  margin-left: 5px;
  margin-right: 5px;
}



.title-of-orders {
  margin-top: 20px;
}

.title {
  margin-top: 5px;
  margin-bottom: 5px;
}

.title-of-id {
  text-align: right;
}

.title-of-product-name {
  text-align: center
}

.title-of-product-brand {
  text-align: center
}

.title-of-order-summary {
  text-align: center;
  padding-right: 50px;
}
